.statistic

  &__wrap
    box: vertical @md horizontal space-between
    padding: 60px *
  
  &__item
    text-align: center
    margin-bottom: @md-down 20px

  &__count
    text: $secondary 24px 1 800 @xs 32px @md 60px
    margin-bottom: 4px

  &__desc
    text: $secondary-dark 16px 2 600 @md 18px
    text-transform: uppercase