header.header(data-gumshoe-header)
  .header__container.container
    a.header__logo(href='http://www.ipsychologist.online')

    .header__nav
      a.header__nav-link.scroll-to(href='http://www.ipsychologist.online/#main' data-gumshoe) Главная
      a.header__nav-link.scroll-to(href='http://www.ipsychologist.online/#therapy' data-gumshoe) Онлайн-терапия
      a.header__nav-link.scroll-to(href='http://www.ipsychologist.online/#team' data-gumshoe) Специалисты
      a.header__nav-link.scroll-to(href='http://www.ipsychologist.online/#work' data-gumshoe) О компании
      a.header__nav-link.scroll-to(href='http://www.ipsychologist.online/#price' data-gumshoe) Стоимость
      a.header__nav-link.scroll-to(href='http://www.ipsychologist.online/#bonus' data-gumshoe) Бонус
      +soc(class='header__nav-soc soc soc--horizontal')

    button.header__btn.btn.btn--small.btn--white.btn--icon-dollar(data-show-id='recall') заказать <span class="hide--xs"> консультацию</span>

    +soc(class='soc soc--fixed soc--vertical')
    +soc(class='header__soc soc soc--horizontal')

    button.header__mobile-menu
      .menu
        .menu-global.menu-top
        .menu-global.menu-middle
        .menu-global.menu-bottom