header.header
  .header__container.container
    a.header__logo(href='#!')

    .header__nav(data-gumshoe)
      a.header__nav-link.scroll-to(href='#services') Услуги
      a.header__nav-link.scroll-to(href='#results') Кейсы
      a.header__nav-link.scroll-to(href='#expert') О нас
      a.header__nav-link.scroll-to(href='#team') Команда
      a.header__nav-link.scroll-to(href='#offices') Контакты

    button.header__btn.btn.btn--small.btn--white.btn--icon-dollar(data-show-id='recall') Начать зарабатывать

    button.header__mobile-menu
      .menu
        .menu-global.menu-top
        .menu-global.menu-middle
        .menu-global.menu-bottom