header.header(data-gumshoe-header)
  .header__container.container
    a.header__logo(href='#!')

    .header__nav(data-gumshoe)
      //- a.header__nav-link.header__nav-link--active.scroll-to(href='#main') Главная
      a.header__nav-link.scroll-to(href='#main') Главная
      a.header__nav-link.scroll-to(href='#therapy') Онлайн-терапия
      a.header__nav-link.scroll-to(href='#experts') Специалисты
      a.header__nav-link.scroll-to(href='#about') О компании
      a.header__nav-link.scroll-to(href='#price') Стоимость
      a.header__nav-link.scroll-to(href='#bonus') Бонус
      +soc(class='header__nav-soc soc soc--horizontal')

    button.header__btn.btn.btn--small.btn--white.btn--icon-dollar(data-show-id='recall') заказать консультацию
    button.header__btn.header__btn--xs.btn.btn--small.btn--white.btn--icon-dollar(data-show-id='recall') заказать

    +soc(class='soc soc--fixed soc--vertical')
    +soc(class='header__soc soc soc--horizontal')

    button.header__mobile-menu
      .menu
        .menu-global.menu-top
        .menu-global.menu-middle
        .menu-global.menu-bottom