mixin soc()
  div(class!=attributes.class)
    a.soc__item.soc__item--teleg(href='#!')
    a.soc__item.soc__item--vk(href='#!')
    a.soc__item.soc__item--inst(href='#!')
    a.soc__item.soc__item--face(href='#!')

mixin next-block(link)
  a.next-block.scroll-to(href='#' + link)