mixin soc()
  div(class!=attributes.class)
    a.soc__item.soc__item--teleg(href='https://t.me/ipsychologist_online')
    a.soc__item.soc__item--vk(href='https://vk.com/ipsychologist.online!')
    a.soc__item.soc__item--inst(href='https://www.instagram.com/ipsychologist.online')
    a.soc__item.soc__item--face(href='https://www.facebook.com/ipsychologist.online')

mixin next-block(link)
  a.next-block.scroll-to(href='#' + link)