mixin form-success()
  .form__success(class!=attributes.class)
    .form__success-icon
    .form__success-title Спасибо, ваша завка отправлена!
    .form__success-text Специалист компании STC свяжется с Вами в ближайшее время
