.modal.modal--full(data-id='offert')
  .modal__close(onclick='closeModal()')

  .modal__content(data-simplebar data-simplebar-auto-hide="false")
    section.scrollable.doc

      h1.h1 ПУБЛИЧНАЯ ОФЕРТА НА ПРОВЕДЕНИЕ КОНСУЛЬТАЦИИ С ПСИХОТЕРАПЕВТОМ В СКАЙПЕ
  
      p Киреев Алексей Юрьевич именуется далее "Исполнитель", с одной стороны и любое другое лицо, осуществившее акцепт (принятие) условий настоящего Договора, именуется далее "Клиент", с другой стороны, именуемые в дальнейшем как “Стороны”, заключили настоящий Договор о нижеследующем:
      br
      h6 1. ПРЕДМЕТ ДОГОВОРА.
      p 1.1. Исполнитель предоставляет Клиенту, а Клиент принимает и оплачивает Исполнителю услуги по проведению консультации по психотерапии (далее - “Услуги”) на условиях предусмотренных этой офертой через систему связи Скайп.
      
      h6 2. ОБЯЗАННОСТИ ИСПОЛНИТЕЛЯ.
      p 2.1. Оказать Услуги по проведению Клиенту консультации по психотерапии через систему связи Скайп в соответствии с заказанной программой в количестве оплаченных Клиентом сессий согласно прайс-листу, опубликованному на веб-сайте: http://. Данный веб-сайт является интеллектуальной собственностью Исполнителя, правовая охрана которого устанавливается Гражданским кодексом Украины, действующими международными договорами Украины.
      p 2.2. Обеспечить процесс онлайн-психотерапии квалифицированными психотерапевтами.
      p 2.3. Установить график консультаций по согласованию с Клиентом.
      p 2.4. Сообщить о дате первой консультации через систему связи Скайп, через электронную почту или по телефону, указанному Клиентом.
      p 2.5. Не разглашать конфиденциальную информацию и данные, предоставленные Клиентом в связи с исполнением условий Договора.

      h6 3. ОБЯЗАННОСТИ КЛИЕНТА.
      p 3.1.Своевременно и полностью выплачивать Исполнителю стоимость оказываемых Услуг в порядке, размере и в сроки, установленные п.4 Договора.
      p 3.2. Посещать все консультации, предусмотренные составленным непосредственно с терапевтом графиком консультаций.
      p 3.3. Добросовестно выполнять домашнее задание.
      p 3.4. Не разглашать и не раскрывать конфиденциальную информацию и другие данные, предоставленные Исполнителем (кроме информации общедоступного характера) какой-либо третьей стороне без предварительного письменного согласия Исполнителя.

      h6 4. УСЛОВИЯ ПРОВЕДЕНИЯ И ПЕРЕНОСА ЗАНЯТИЙ.
      p 4.1. Клиент связывается с терапевтами Исполнителя посредством Скайп, которые проводят Консультации в соответствии с заранее согласованным графиком.
      p 4.2. По объективным причинам, Клиент имеет право перенести консультацию. При этом сообщать своему терапевту по электронной почте об отмене консультации Клиент обязан за 24 часа до ее проведения. В случае несвоевременного уведомления об отмене, консультация может считаться состоявшейся и подлежащей к оплате в размере 100%.
      p 4.3. Если в установленное время Клиент не доступен для звонка и не предупредил заранее о ее отмене,  консультация считается состоявшейся и подлежащей к оплате в размере 100%.
      p 4.4. Если по истечению 15 минут после установленного времени Клиент не получает звонка от терапевта, он обязан немедленно связаться с Исполнителем посредством Скайп или по электронной почте и сообщить об этой проблеме.
      p 4.5. Консультация, которая не состоялась по вине Исполнителя, переносится без ее потери на другое, удобное для Клиента время.
      p 4.6. Клиент имеет право сделать паузу в терапии (например: по причине отпуска, командировки и т.д.).

      h6 5. РАСЧЕТЫ И ПОРЯДОК ОПЛАТЫ.
      p 5.1. Оплата стоимости Услуг Исполнителя осуществляется Клиентом путем 100% предоплаты. Каждая консультация, которая проводится терапевтом, должна быть предварительно оплачена. В случае отсутствия оплаты Исполнитель вправе отказать в проведении запланированной консультации.
      p 5.2. Стоимость Услуг может меняться в зависимости от конъюнктуры рынка, при условии уведомлении Клиента об изменении стоимости Услуг за одну неделю по электронной почте. Исполнитель не может менять стоимость оплаченных Услуг для конкретного Клиента в случае, если тот уже принял условия Исполнителя и произвел оплату Услуг в установленном Договором порядке.
      p 5.3. Клиент самостоятельно несет ответственность за правильность производимых им платежей.
      p 5.4. Если в течение 12 месяцев с момента оплаты выбранного пакета психотерапии Клиент не выходит на связь, остальные оплаченные консультации Клиента (при их наличии) считаются проведенными и возврату не подлежат.
      
      h6 6. ДОПОЛНИТЕЛЬНЫЕ УСЛОВИЯ.
      p 6.1. Исполнитель имеет право в течение терапии при необходимости производить замену терапевта, но не более, чем 2 раза в месяц.
      p 6.2. Исполнитель имеет право пользоваться услугами любых физических и юридических лиц, в целях своевременного и качественного исполнения условий Договора.
      p 6.3. Исполнитель имеет право требовать от Клиента своевременной и полной оплаты стоимости Услуг в соответствии с условиями Договора.
      p 6.4. Клиент имеет право требовать от Исполнителя выполнения его обязательств в соответствии с условиями Договора в предусмотренный срок и в надлежащем качестве.
      p 6.5. Клиент имеет право требовать от Исполнителя замену терапевта по конструктивным причинам, но не более 3-х раз за весь период терапии.
      p 6.6. Клиент имеет право потребовать возврат  средств в течение 10 дней после оплаты.
      p 7.1. Если в течение терапии Клиенту не подходит терапевт, Клиент имеет право на 15-минутную бесплатную ознакомительную консультацию с другим терапевтом, при наличии такового. Вводная консультация предоставляется после обращения Клиента к администратору, анализа сложившейся ситуации и подбора подходящей кандидатуры.
      
      br
      h6 Исполнитель:
      p Киреев Алексей Юрьевич
