.modal.modal--full(data-id='politic')
  .modal__close(onclick='closeModal()')

  .modal__content(data-simplebar data-simplebar-auto-hide="false")
    section.scrollable.doc
      h1.h1 Политика конфиденциальности

      p Политика конфиденциальности объясняет, как и в каких целях мы используем вашу личную информацию.

      h2.h2 Какая информация нам необходима

      p Если вы решаете подписаться на информационный продукт, размещенный на сайте, мы запросим у вас имя и адрес электронной почты. Это объясняется следующими соображениями. Мы регулярно готовим актуальные информационные продукты.
      p Ваш интерес к конкретному информационному продукту позволяет предположить, что и другие продукты могут быть Вам интересны и полезны. Для того чтобы проинформировать Вас об этих продуктах, а также обеспечить к ним доступ, нам требуется отправить Вам информационное письмо.
      p Кроме того, мы можем проводить опрос для выяснения Вашего мнения о наших продуктах, а также Ваших пожеланий. Перед тем как предоставить нам чужие персональные данные, обязательно получите разрешение соответствующих лиц. Убедитесь, что вы предоставляете правильные и точные сведения.

      .h2 Что мы делаем с информацией

      h5 Мы используем ваши имя и почту для:

      ul
        li Предоставления информационных продуктов и услуг;
        li Обработки запросов в службу поддержки;
        li Рассылки новостей и рекламной информации о продуктах, услугах и специальных предложениях;
        li Рассылки служебных сообщений;
        li Предотвращения и выявления мошенничества, или незаконного использования наших продуктов или услуг.

      .h2 Кто ещё получает доступ к информации

      p Для осуществления рассылки мы используем сервис почтовых рассылок www.mailerlite.com/ru. Этот сервис обрабатывает Вашу персональную информацию (т.е. e-mail и указанное Вами имя) для того, чтобы мы могли отправить Вам электронное письмо с доступом к выбранному Вами продукту или проинформировать Вас о новых актуальных продуктах, или провести опрос с целью выявления информации, в которой Вы нуждаетесь.
      p В исключительных обстоятельствах мы можем раскрыть Вашу персональную информацию, если этого требует закон или в целях защиты себя и других от противоправных действий или других опасностей.

      .h2 Идентификационные файлы

      p Наш сайт содержит идентификационные файлы — куки. Это небольшие текстовые файлы, отправляемые на компьютер для учета ваших действий. Мы используем куки для персонализации учета посещений, изучения поведения посетителей на сайте и регистрации их действий.
      p Отключить куки можно в любой момент в настройках браузера.

      .h2 Безопасность

      p Мы предпринимаем разумные меры для сведения к минимуму возможности утраты, кражи, недобросовестного использования, несанкционированного доступа к Вашей персональной информации, уничтожения, изменения или ее раскрытию. В то же время мы не можем гарантировать абсолютного устранения риска несанкционированного злоупотребления персональной информацией.
      p Убедительно просим Вас самым внимательным образом подойти к хранению паролей к учетным записям и не сообщать их кому-либо еще (в случае, если речь идет о продуктах, содержащих пароли доступа). Немедленно свяжитесь с нами, если станет известно о каком-либо нарушении информационной безопасности (например, несанкционированном использовании вашего пароля).

      .h2 Отказ от подписки

      p Чтобы отказаться от рассылки — перейдите по ссылке «Отписаться» в конце любого нашего письма. Чтобы изменить или удалить личную информацию из нашей базы — напишите на 
        a.link(href='mailto:multilingvoo@gmail.com') multilingvoo@gmail.com.
