.modal.modal--recall(data-id='politic')
  .modal__close(onclick='closeModal()')

  .modal__content
    .modal__title Заявка на консультацию
    .modal__text Начните зарабатывать реальные деньги на финансовом рынке без многолетнего опыта и больших инвестиций
