.modal.modal--recall(data-id='recall')
  .modal__close(onclick='closeModal()')

  .modal__content
    .modal__title Заявка на консультацию
    .modal__text Начните зарабатывать реальные деньги на финансовом рынке без многолетнего опыта и больших инвестиций

    form.form.modal__form.form(action='#!' onsubmit='formSubmitFn(event, this)')
      .input
        input.input__elem(type='text' name='name' placeholder='Имя' data-error='Введите имя')
      
      .input
        input.input__elem(type='text' name='phone' placeholder='Телефон' data-error='Введите телефон')

      .input
        button.modal__btn.btn Получить консультацию

      +form-success