.modal.modal--full(data-id='work')
  .modal__close(onclick='closeModal()')

  .modal__content(data-simplebar data-simplebar-auto-hide="false")
    section.scrollable.doc
      h1.h1 Работа с iPsychologist

      p Наша компания активно развивается и мы все время находимся в поиске хороших терапевтов.
      br

      h5 Что мы подразумеваем под "хорошими":

      ul
        li Профильное психологическое образование;
        li Дополнительное образование психотерапевтической направленности;
        li Работа в одном из классических направлений (психоанализ, гештальт, когнитивная, экзистенциальная);
        li Опыт консультирования – от 3 лет.

      br

      h5 В чем удобство работы с нами:

      ul
        li Свободное расписание;
        li Консультирование только по Скайпу (не нужен кабинет);
        li Систематические выплаты зарплаты каждый месяц.

      br
      p В общем, если Вам интересно, заполните, пожалуйста, анкету по ссылке, – и мы с Вами свяжемся.

      p Спасибо.

      a.btn.btn--wide.btn--normal(href="https://goo.gl/forms/FMuHAjCwo7pcE7M22") Заполнить анкету