-
  var statistic = [
    {
      count: 48,
      desc: 'психотерапевтов'
    },
    {
      count: 650,
      desc: 'клиентов'
    },
    {
      count: 27600,
      desc: 'сессий'
    }
  ]

  var therapy = [
    {
      img: 'quality',
      title: 'квалифицированные специалисты',
      desc: 'Наши психотерапевты проходят собеседование, имеют рекомендацию от старшего коллеги, диплом ВУЗа и серьезный опыт частной практики.'
    },
    {
      img: 'location',
      title: 'Где бы вы ни были, мы всегда на связи',
      desc: 'Профессиональная психологическая помощь доступна из любой точки Земли.'
    },
    {
      img: 'online',
      title: 'онлайн-терапия эффективна',
      desc: 'Исследования подтверждают, что психотерапия онлайн так же эффективна, как и очная встреча с терапевтом.'
    },
    {
      img: 'skype',
      title: 'скайп на любом устройстве',
      desc: 'Не утруждайте себя регистрацией на сомнительных сервисах. Наши психотерапевты работают через Скайп, который легко установить на любое устройство.'
    },
    {
      img: 'safe',
      title: 'надежность и безопасность',
      desc: "Мы уважаем и защищаем Вашу приватность. В <span class='therapy__color'>iPsychologist</span> действует строгая политика конфиденциальности."
    },
    {
      img: 'pay',
      title: 'удобная<br> оплата',
      desc: 'Удобная и безопасная оплата консультаций через надежный сервис, любым удобным для Вас способом.'
    }
  ]
  
  var about = [
    {
      img: 'smile',
      title: 'избавление от тревоги и стресса'
    },
    {
      img: 'love',
      title: 'преодоление недопонимания в отношениях с мужчиной'
    },
    {
      img: 'calendar',
      title: 'проживание кризисных моментов в отношениях'
    },
    {
      img: 'bed',
      title: 'решение сложностей семейной жизни'
    },
    {
      img: 'romantic',
      title: 'налаживание романтических отношений'
    },
    {
      img: 'shoe',
      title: 'принятие самой<br> себя'
    }
  ]

  var aboutUs = [
    {
      date: '10 января 2018г.',
      desc: 'Очень полезный и удобный сервис. Чуткие и приятные специалисты. Благодаря консультации, я смогла разобраться в причинах своих действий. Думаю, что если кто-нибудь спросит, поинтересуется, то порекомендую этот сервис.',
      name: 'Оксана Отт',
      img: 'avatar1.jpg'
    },
    {
      date: '26 января 2018г.',
      desc: 'Отличная идея, сделать психологическую помощь доступной для любого человека у которого, есть возможность выхода в интернет и доступной финансово.',
      name: 'Мария Хоритонова',
      img: 'avatar2.jpg'
    },
    {
      date: '2 февраля 2018г.',
      desc: 'Мне все понравилось. Консультация проходила в приятной атмосфере. Все четко и ясно. Мы обсудили мою проблему, дошли до вывода. Конечно же, одной консультации мало. Психолог дала мне вектор для дальнейшего действия. Вежливая при общении...',
      name: 'Арина Акчурина',
      img: 'avatar3.jpg'
    },
    {
      date: '12 мая 2018г.',
      desc: 'Онлайн-консультации — это современно! Очень рада, что воспользовалась именно таким способом решения моей проблемы. Мне пришлось уехать из своего города, но я по-прежнему на связи со своим психологом. Рекомендую этот сервис!',
      name: 'Лариса Бахметьева',
      img: 'avatar4.jpg'
    }
  ]

  var aboutLogoes = ['logo1.png', 'logo2.svg', 'logo3.png', 'logo4.svg']

  var experts = [
    {
      img: '1',
      show: true,
      name: 'Сергей Богатырев',
      dir: 'Экзистенциальный анализ',
      xp: 'Опыт консультирования — 4 года',
      desc: 'В своей работе Сергей использует метод экзистенциального анализа, направленный в первую очередь на то, чтобы избавить человека от внутренних запретов, социальных установок и субъективных интерпретаций, которые, как правило, заслоняют от него настоящую и осознанную жизнь. ',
      descFull: '<p> “Искренне восхищаюсь своими клиентами, - говорит Сергей. - Потому что обращение к психотерапевту это прежде всего признание, что вы где-то не справляетесь, а для этого нужно огромное мужество.” </p><p> В своей работе Сергей использует метод экзистенциального анализа, направленный в первую очередь на то, чтобы избавить человека от внутренних запретов, социальных установок и субъективных интерпретаций, которые, как правило, заслоняют от него настоящую и осознанную жизнь.” </p>',
      id: 'experts-1',
      education: ['НУИ Высшая школа экономики (“Психология”)', 'Магистратура НУИ Высшей школы экономики (“Консультативная психология”)', 'Австрийский институт экзистенциального анализа GLE-International (“Психолог-консультант”)']
    },
    {
      img: '2',
      show: true,
      name: 'Татьяна Буцовская',
      dir: 'Гештальт-терапия',
      xp: 'Опыт консультирования — 12 лет',
      desc: 'К Татьяне можно (и нужно) обращаться за помощью в самоопределении или принятии сложных жизненных решений. Она также работает с депрессивными состояниями, страхами, тревогой, трудностями в отношениях и переживаниями кризисов и утрат.',
      descFull: '<p> К Татьяне можно (и нужно) обращаться за помощью в самоопределении или принятии сложных жизненных решений. Она также работает с депрессивными состояниями, страхами, тревогой, трудностями в отношениях и переживаниями кризисов и утрат.</p> <p>Вот что она сама говорит о своей профессии: “Известный итальянский психотерапевт Джанни Франчесетти как-то сказал, что процесс терапии — это процесс дистилляции боли в красоту. На мой взгляд, главное, что делает психотерапия — возвращает человеку его человеческое достоинство и внутреннюю красоту. Но для того, чтобы это произошло, человеку нужно встретиться с самим собой, подлинным, а не отраженным в бесчисленных зеркалах ожиданий, надежд и чаяний других людей, встретиться со своей болью, отчаянием, страхом и злостью, со своей силой, нежностью, уязвимостью и любовью. Моя задача как психотерапевта — обеспечить условия, время и пространство для этой встречи”.</p>',
      id: 'experts-2',
      education: [
        'Харьковский национальный университет (“Практический психолог”)',
        'Московский институт гештальт-терапии и консультирования (“Гештальт-терапевт”)',
        'Академия тренинга и бизнес-коучинга г. Киев (Программа подготовки коучей)',
        'Личная терапия, работа под супервизией',
        'Курс системной семейной психотерапии',
        'Курс “Психологическая помощь в кризисных ситуациях”']
    },
    {
      img: '3',
      name: 'Екатерина Михайлуца',
      dir: 'Гештальт-терапия',
      xp: 'Опыт консультирования — 7 лет',
      desc: 'Екатерина - гештальт-терапевт, специалист в области возрастной психологии, прохождения возрастных кризисов. Работает с темами отношений в семье, дружеских и детско-родительских. К ней можно обратиться с тревожными и депрессивными состояниями, переживаниями страха и неуверенности в себе.',
      descFull: '<p> Екатерина - гештальт-терапевт, специалист в области возрастной психологии, прохождения возрастных кризисов. Работает с темами отношений в семье, дружеских и детско-родительских. К ней можно обратиться с тревожными и депрессивными состояниями, переживаниями страха и неуверенности в себе. Оказывает помощь родителям в построении гармоничных отношений с детьми. Занимается вопросами сексуальности, эмоциональной зависимости. Работает с парами и подростками.</p>',
      id: 'experts-3',
      education: [
        'Магистратура в Запорожском национальном университете (“Психолог”)',
        'Бакалавриат в Хортицкой национальной учебно-реабилитационной академии (“Дефектолог”)',
        'Межрегиональный институт гештальт-терапии и искусства - МИГИС (сертифицированный гештальт-терапевт)']
    },
    {
      img: '4',
      name: 'Анастасия Моспан',
      dir: 'Экзистенциальный анализ и логотерапия',
      xp: 'Опыт консультирования — 4 года',
      desc: 'Анастасия работает с широким кругом проблем - от конфликтов в отношениях до поиска смысла жизни. Если вас беспокоят вопросы взаимоотношений, самореализации, неудовлетворенности жизнью, собой и своим телом, самооценки и неуверенности в себе или вы столкнулись с кризисной ситуацией, горем или утратой, – обращайтесь.',
      descFull: '<p> Анастасия работает с широким кругом проблем - от конфликтов в отношениях до поиска смысла жизни. Если вас беспокоят вопросы взаимоотношений, самореализации, неудовлетворенности жизнью, собой и своим телом, самооценки и неуверенности в себе или вы столкнулись с кризисной ситуацией, горем или утратой, – обращайтесь.</p>',
      id: 'experts-4',
      education: [
        'НИУ Высшая школа экономики (“Психология”)',
        'Магистратура НИУ Высшей школы экономики (“Консультативная психология. Персонология”)',
        'Австрийский институт экзистенциального анализа GLE-International (базовый курс, клинический курс)',
        'Аспирантура НИУ Высшей школы экономики (“Общая психология, психология личности, история психологии”)',
        'Исследовательская стажировка в университете Хартфордшира (Великобритания)']
    },
    {
      img: '5',
      name: 'Вера Мерликова',
      dir: 'Когнитивно-поведенческая психотерапия',
      xp: 'Опыт консультирования - 4 года',
      desc: 'Вера – представитель когнитивно-поведенческой психотерапии, которая фокусируется на тех эмоциях, что заключены у человека внутри и по каким-то причинам не могут быть выражены – а также на том, чтобы помочь ему эти эмоции осознать и прожить.',
      descFull: '<p>Вера – представитель когнитивно-поведенческой психотерапии, которая фокусируется на тех эмоциях, что заключены у человека внутри и по каким-то причинам не могут быть выражены – а также на том, чтобы помочь ему эти эмоции осознать и прожить.</p><p>Вот что говорит по этому поводу сама Вера: “Психотерапия заключается для меня в том, чтобы быть в контакте с клиентом, в том, чтобы помочь ему осознать свой уникальный внутренний мир, не прикрываясь сухими теориями и концепциями. В первую очередь, я стараюсь выяснить проблему своего клиента, дойти вместе с ним до сути его переживаний, чтобы затем помочь ему пережить все то, что скопилось у него внутри и сделать его жизнь более осознанной.</p><p>Самой важной и сложной для меня работой является работа с травмой. Никому не удавалось прожить свою жизнь без ударов судьбы, и каждый из нас несет в себе следы этих ударов. Мы приспосабливаемся жить со страхом и жестокостью в сердце. Для того, чтобы от них избавиться, необходимо вернуться назад, в те ситуации, что вызвали их – и прожить их снова, в безопасности и принятии. Для меня большой труд и большая честь подготовить клиента к этому пути и вместе пройти его”.</p>',
      id: 'experts-5',
      education: [
        'Запорожский Национальный Университет (“Психология”)',
        'Запорожский областной институт последипломного педагогического образования (“Практическая психология”)',
        'Классический приватный университет ("Использование арт-техник в групповом и индивидуальном консультировании")']
    },
    {
      img: '6',
      name: 'Рената Сабирова',
      dir: 'Гуманистический подход и сексология',
      xp: 'Опыт консультирования - 3 года',
      desc: 'Рената утверждает: “Главное в гуманистическом подходе это поиск и развитие в человеке его собственных ресурсов и потенциала. Ее работа заключается в том, чтобы помогать и поддерживать человека в этом процессе”.',
      descFull: '<p>Рената утверждает: “Главное в гуманистическом подходе это поиск и развитие в человеке его собственных ресурсов и потенциала.Ее работа заключается в том, чтобы помогать и поддерживать человека в этом процессе”.</p><p>Рената специализируется на теме отношений и теме, касающейся человеческой сексуальности, например: желание наладить взаимоотношения с партнером, улучшить навыки общения, наладить эмоциональный контакт с близкими людьми, развить способность просчитывать свои собственные потребности, понимать свои границы и границы другого человека, прийти к гармоничному взаимодействию со значимым окружением, раскрытие своей сексуальности, ее понимание и принятие, вопросы, связанные с трудностями в интимных отношениях.</p>',
      id: 'experts-6',
      education: [
        'Университет менеджмента образования национальной академии педагогических наук Украины (“Психология”)',
        'Украинская школа сексологии при Ассоциации сексологов и сексотерапевтов Украины',
        'Украинская школа экопсихологической фасилитации']
    },
    {
      img: '7',
      name: 'Антонина Карагиаур',
      dir: 'Позитивная психотерапия',
      xp: 'Опыт консультирования - 3 года',
      desc: '“Моя любовь к людям определила выбор моей профессии. Моя цель в работе с клиентом - это создание максимально комфортной, безопасной и доверительной обстановки, где мы сможем вместе идти в достижении целей клиента”.',
      descFull: '<p>“Моя любовь к людям определила выбор моей профессии. Моя цель в работе с клиентом - это создание максимально комфортной, безопасной и доверительной обстановки, где мы сможем вместе идти в достижении целей клиента”.</p><p>В своей практике Антонина сталкивалась с проблемами самооценки, семейными отношениями, с проблемами неконтролируемого переедания и раздражения, с разными формами проблем в социальной адаптации и одиночеством. Со всеми этими проблемами она успешно справляется.</p>',
      id: 'expert-7',
      education: [
        'Магистратура в Измаильском педагогическом университете (“Психология”)',
        'Украинский институт позитивной психотерапии и менеджмента',
        'Применение проективных карт в психологической практике',
        'Перинатальная психология и психосоматика',]
    },
    {
      img: '8',
      name: 'Инна Кононенко',
      dir: 'Когнитивно-поведенческая психотерапия и арт-терапия',
      xp: 'Опыт консультирования - 3 года',
      desc: 'Инна утверждает: “Прежде всего в каждом человеке я рассматриваю Личность, стараясь отделить ее от диагноза. Каждая Личность уникальна и способна раскрыть свой потенциал и обрести счастье. Я, как психолог, лишь помогаю ей в этом процессе и радуюсь каждой победе вместе с клиентом”.',
      descFull: '<p>Инна утверждает: “Прежде всего в каждом человеке я рассматриваю Личность, стараясь отделить ее от диагноза. Каждая Личность уникальна и способна раскрыть свой потенциал и обрести счастье. Я, как психолог, лишь помогаю ей в этом процессе и радуюсь каждой победе вместе с клиентом”.</p><p>У Инны есть практика работы в области травмотерапии, эмоциональных зависимостей, фобий, панические атаки, семейная терапия (отношения пар, переживание утраты отношений).</p>',
      id: 'expert-8',
      education: [
        'Бакалавр в Украинской евангельской теологической семинарии (“Практическая психология”)',
        'Магистерская программа травмотерапии Regent University США',
        'Курс когнитивно-поведенческой психотерапии',
        'Курс сексуальной терапии',
        'Курс арт-терапии (вкл. метафорические карты)']
    }
  ]

  var freeAdv = ['Поймете как проходит терапия и нужна ли она Вам', 'Определим причину Вашего состояния', 'Сформируем цель терапии']