-
  var services = [
    {
      title: 'Обучение',
      subTitle: 'интернет трейдингу'
    },
    {
      title: 'Подбор',
      subTitle: 'надежного брокера'
    },
    {
      title: 'Доверительное',
      subTitle: 'управление активами'
    },
    {
      title: 'Индивидуальные',
      subTitle: 'торговые стратегии'
    },
    {
      title: 'Аналитика',
      subTitle: 'из европейских источников'
    },
    {
      title: 'Сопровождения',
      subTitle: 'торговых сделок специалистами'
    }
  ]
 