-
  var statistic = [
    {
      count: 48,
      desc: 'психотерапевтов'
    },
    {
      count: 650,
      desc: 'клиентов'
    },
    {
      count: 27600,
      desc: 'сессий'
    }
  ]

  var therapy = [
    {
      img: 'quality',
      title: 'квалифицированные специалисты',
      desc: 'Наши психотерапевты проходят собеседование, имеют рекомендацию от старшего коллеги, диплом ВУЗа и серьезный опыт частной практики.'
    },
    {
      img: 'location',
      title: 'Где бы вы ни были, мы всегда на связи',
      desc: 'Профессиональная психологическая помощь доступна из любой точки Земли.'
    },
    {
      img: 'online',
      title: 'онлайн-терапия эффективна',
      desc: 'Исследования подтверждают, что психотерапия онлайн так же эффективна, как и очная встреча с терапевтом.'
    },
    {
      img: 'skype',
      title: 'скайп на любом устройстве',
      desc: 'Не утруждайте себя регистрацией на сомнительных сервисах. Наши психотерапевты работают через Скайп, который легко установить на любое устройство.'
    },
    {
      img: 'safe',
      title: 'надежность и безопасность',
      desc: "Мы уважаем и защищаем Вашу приватность. В <span class='therapy__color'>iPsychologist</span> действует строгая политика конфиденциальности."
    },
    {
      img: 'pay',
      title: 'удобная<br> оплата',
      desc: 'Удобная и безопасная оплата консультаций через надежный сервис, любым удобным для Вас способом.'
    }
  ]
  
  var about = [
    {
      img: 'smile',
      title: 'избавление от тревоги и стресса'
    },
    {
      img: 'love',
      title: 'преодоление недопонимания в отношениях с мужчиной'
    },
    {
      img: 'calendar',
      title: 'проживание кризисных моментов в отношениях'
    },
    {
      img: 'bed',
      title: 'решение сложностей семейной жизни'
    },
    {
      img: 'romantic',
      title: 'налаживание романтических отношений'
    },
    {
      img: 'shoe',
      title: 'принятие самой<br> себя'
    }
  ]

  var aboutUs = [
    {
      date: '10 января 2018г.',
      desc: 'Очень полезный и удобный сервис. Чуткие и приятные специалисты. Благодаря консультации, я смогла разобраться в причинах своих действий. Думаю, что если кто-нибудь спросит, поинтересуется, то порекомендую этот сервис.',
      name: 'Оксана Отт',
      img: 'avatar1.jpg'
    },
    {
      date: '26 января 2018г.',
      desc: 'Отличная идея, сделать психологическую помощь доступной для любого человека у которого, есть возможность выхода в интернет и доступной финансово.',
      name: 'Мария Хоритонова',
      img: 'avatar2.jpg'
    },
    {
      date: '2 февраля 2018г.',
      desc: 'Мне все понравилось. Консультация проходила в приятной атмосфере. Все четко и ясно. Мы обсудили мою проблему, дошли до вывода. Конечно же, одной консультации мало. Психолог дала мне вектор для дальнейшего действия. Вежливая при общении...',
      name: 'Арина Акчурина',
      img: 'avatar3.jpg'
    },
    {
      date: '12 мая 2018г.',
      desc: 'Онлайн-консультации — это современно! Очень рада, что воспользовалась именно таким способом решения моей проблемы. Мне пришлось уехать из своего города, но я по-прежнему на связи со своим психологом. Рекомендую этот сервис!',
      name: 'Лариса Бахметьева',
      img: 'avatar4.jpg'
    }
  ]

  var aboutLogoes = ['logo1.png', 'logo2.svg', 'logo3.png', 'logo4.svg']

  var experts = [
    {
      name: 'Сергей Богатырев',
      dir: 'Экзистенциальный анализ',
      xp: 'Опыт консультирования — 4 года',
      desc: 'В своей работе Сергей использует метод экзистенциального анализа, направленный в первую очередь на то, чтобы избавить человека от внутренних запретов, социальных установоки субъективных интерпретаций, которые, как правило, заслоняют от него настоящую и осознанную жизнь. ',
      descFull: '',
      id: 'experts-1',
      education: ['Высшая школа экономики («психология»)', 'Магистратура Высшей школы экономики («Консультативная психология»)', 'Австрийский институт экзистенциального анализа GLE-International (Психолог-консультант)']
    },
    {
      name: 'Татьяна Буцовская',
      dir: 'Гештальт-терапия',
      xp: 'Опыт консультирования — 4 года',
      desc: 'К Татьяне можно (и нужно) обращаться за помощью в самоопределении или принятии сложных жизненных решений. Она также работает с депрессивными состояниями, страхами, тревогой, трудностями в отношениях и переживаниями кризисов и утрат.',
      descFull: '',
      id: 'experts-2',
      education: [
        'Харьковский национальный университет (“Практический психолог”)',
        'Московский институт гештальт-терапии и консультирования (“Гештальт-терапевт”)',
        'Академия тренинга и бизнес-коучинга г. Киев (Программа подготовки коучей)',
        'Личная терапия, работа под супервизией',
        'Курс системной семейной психотерапии',
        'Курс “Психологическая помощь в кризисных ситуациях”']
    },
    {
      name: 'Екатерина Михайлуца',
      dir: 'Гештальт-терапия',
      xp: 'Опыт консультирования — 7 года',
      desc: 'Екатерина - гештальт-терапевт, специалист в области возрастной психологии, прохождения возрастных кризисов. Работает с темами отношений в семье, дружеских и детско-родительских. К ней можно обратиться с тревожными и депрессивными состояниями, переживаниями страха и неуверенности в себе.',
      descFull: '',
      id: 'experts-3',
      education: [
        'Магистратура в Запорожском национальном университете (“Психолог”)',
        'Бакалавриат в Хортицкой национальной учебно-реабилитационной академии (“Дефектолог”)',
        'Межрегиональный институт гештальт-терапии и искусства - МИГИС (сертифицированный гештальт-терапевт)']
    },
    {
      name: 'Анастасия Моспан',
      dir: 'Экзистенциальный анализ и логотерапия',
      xp: 'Опыт консультирования — 4 года',
      desc: 'Анастасия работает с широким кругом проблем - от конфликтов в отношениях до поиска смысла жизни. Если вас беспокоят вопросы взаимоотношений, самореализации, неудовлетворенности жизнью, собой и своим телом, самооценки и неуверенности в себе или вы столкнулись с кризисной ситуацией, горем или утратой, – обращайтесь.',
      descFull: '',
      id: 'experts-2',
      education: [
        'НИУ Высшая школа экономики (“Психология”)',
        'Магистратура НИУ Высшей школы экономики (“Консультативная психология. Персонология”)',
        'Австрийский институт экзистенциального анализа GLE-International (базовый курс, клинический курс)',
        'Аспирантура НИУ Высшей школы экономики (“Общая психология, психология личности, история психологии”)',
        'Исследовательская стажировка в университете Хартфордшира (Великобритания)']
    },
  ]