html.hide-scroll
  // overflow: hidden

.scrollable
  padding-right: 30px

[data-id="work"]
  .simplebar-track.vertical
    display: block @fl none

[data-id="politic"]
  .doc
    .h1
      text: 18px 1.1 @sm 36px

.hide
  display: none

  &--xs
    display: @xs-down none