body
  text: $black 400 16px 1.5
  font-family: $ff

.h1
  display: block
  text: $black 700 30px 1.2 @md 40px @lg 50px
  line-height: @md-down 29px

.h3
  text: $black 700 24px 1.2 

.h4
  text: $black 400 16px @md 18px