section#bonus.bonus
  .container
    .bonus__title.h2() Наш бонус

    .bonus__action(c) Скачайте книгу «5 вопросов, что бы определить  достойный ли, мужчина перед вами»

    .bonus__wrap(c)
      .bonus__wrap-item
      
        .bonus__desc Сейчас перед Вами очень ценный инструмент. Он  поможет Вам трезво посмотреть на мужчин, которых Вы привлекаете в свою жизнь.

        .bonus__get Запишитесь и получите мини-книгу бесплатно.
        .bonus__img
          .bonus__img-mobile

      .bonus__wrap-item
        .bonus__form
          .form
            .form__title Получить книгу
            form.form__form.js-bonus-form(c method='post')
              .form-load
                .loader
                .form-load__text Отправляем данные
              .input-field.input-field--person.input-field--bordered
                input(type='hidden' name="DATA[TITLE]" value='Форма блок "бонус"')
                input.input(type='text' placeholder='Имя' name="DATA[NAME]")

              .input-field.input-field--phone.input-field--bordered
                input.input(type='text' placeholder='Телефон' name="DATA[PHONE_MOBILE]")

              .input-field.input-field--email.input-field--bordered
                input.input(type='text' placeholder='E-mail' name="DATA[ADDRESS]")

              .input-field
                button.btn.btn--all-width.btn--big(type='submit') Получить
              
              .form__politic(data-show-id='politic') Политика конфиденциальности