section#bonus.bonus
  .container
    .bonus__title.h2 Наш бонус

    .bonus__action Скачайте книгу «5 вопросов, что бы определить  достойный ли, мужчина перед вами»

    .bonus__wrap
      .bonus__wrap-item
      
        .bonus__desc Сейчас перед Вами очень ценный инструмент. Он  поможет Вам трезво посмотреть на мужчин, которых Вы привлекаете в свою жизнь.

        .bonus__get Запишитесь и получите мини-книгу бесплатно.
        .bonus__img
          img.bonus__img-mobile(src='img/bonus/meet-people.jpg')

      .bonus__wrap-item
        .bonus__form
          .form
            .form__title Получить книгу

            form.form__form
              .input-field.input-field--person.input-field--bordered
                input.input(type='text' placeholder='Имя')

              .input-field.input-field--phone.input-field--bordered
                input.input(type='text' placeholder='Телефон')

              .input-field.input-field--email.input-field--bordered
                input.input(type='text' placeholder='E-mail')

              .input-field
                .btn.btn--all-width.btn--big Получить
              
              .form__politic(data-show-id='politic') Политика конфиденциальности