section.success

  .success__inner
    .success__logo
    h1.h1.success__title Получите наш бонус
    .success__desc Если книга не начала скачиваться автоматически нажмите на кнопку

    a.success__btn.btn.btn--wide.btn--big(download href='http://www.ipsychologist.online/book/book.pdf') скачать книгу
    .success__soc-desc Мы в социальных сетях:
    +soc(class='success__soc soc soc--horizontal')