section#team.experts
  .container
    .experts__title.h2 Выбрать психолога

    .experts__items
      each item in experts
        if(item.show)
          .experts__item.experts__item--active()
            +expert(item)
        else
          .experts__item
            +expert(item)
          
      .experts__btn-wrap
        .experts__button.btn.btn--normal(data-all-experts) Свободные психологи