section#price.free
  .container
    h2.h2.free__title Попробуйте бесплатную вводную консультацию
    
    .free__adv
      each item in freeAdv
        .free__adv-item
          .free__adv-text= item

    .free__form.form--horizontal

      +form('js-free1-form', 'Форма блок "Попробовать бесплатно" (верхняя)')

      //- form.form__form.form__form.js-price-form(method='post')
      //-   .form-load
      //-     .loader
      //-     .form-load__text Отправляем данные

      //-   .input-field.input-field--person.input-field--bordered
      //-     input(type='hidden' name="DATA[TITLE]" value='Форма блок "Попробовать бесплатно"')
      //-     input.input(type='text' placeholder='Имя' name="DATA[NAME]")

      //-   .input-field.input-field--email.input-field--bordered
      //-     input.input(type='text' placeholder='E-mail' name="DATA[ADDRESS]")

      //-   .input-field.input-field--phone.input-field--bordered
      //-     input.input(type='text' placeholder='Телефон' name="DATA[PHONE_MOBILE]")

      //-   .input-field.input-field--skype.input-field--bordered
      //-     input.input(type='text' placeholder='Skype' name="DATA[IM_SKYPE]")
        
      //-     input(type='hidden' data-input-id value='' name="DATA[COMMENTS]")

      //-   .input-field
      //-     button.btn.btn--wide.btn--big(type="submit") Попробовать бесплатно
        
      //-     .form__politic(data-show-id='politic') Политика конфиденциальности
