section#main.main
  .main__container
    .container
      .main__photo-wrap      
        .main__photo   
      .main__text-wrap
        .main__text(data-aos='fade-up')
          h1.main__title Женская
            .main__title-black онлайн-психотерапия
            .main__brand-name.brand-name i<span class='brand-name__letter'>P</span>sychologist

          p.main__desc Решите Ваши психологические проблемы при помощи<br> онлайн-консультации с личным психологом из<br> любой точки мира в любое удобное<br> для Вас время

          .main__btn.btn.btn--big.btn--wide(data-show-id="recall") заказать консультацию

