section.success

  .success__inner
    .success__logo
    h1.h1.success__title Спасибо за заявку!
    .success__desc Мы свяжемся с Вами в ближайшее время

  
    a.success__btn.btn.btn--wide.btn--small.experts__button(href='http://www.ipsychologist.online') вернуться на главную
    .success__soc-desc Мы в социальных сетях:
    +soc(class='success__soc soc soc--horizontal')
