section#experts.team
  .container
    .team__title.h2 Наши психотерапевты
    .team__wrap
      .team__wrap-item

        .team__item(data-aos='fade-up')
          .team__item-title Обладают опытом
          .team__item-desc У каждого из них – высшее профильное образование престижного ВУЗа, а также — опыт консультирования не менее трех лет.

        .team__item(data-aos='fade-up')
          .team__item-title Получили рекомендацию
          .team__item-desc Каждый терапевт предоставил нам рекомендацию от старшего коллеги — известного и уважаемого члена профессионального сообщества.

        .team__item(data-aos='fade-up')
          .team__item-title Прошли собеседование
          .team__item-desc С каждым из терапевтов мы знакомимся лично, чтобы убедиться в его профессионализме.

      .team__wrap-item.team__img-wrap
        img.team__img(src='img/team/mobile.png')