section#work.work
  +next-block('experts')
  .work__img
  .container
    .work__wrap-top
      .work__text-top
        .work__title.h2 Как это работает?
        .work__wrap-top-text
          .work__item(data-aos='fade-up')
            .work__item-number 1
            .work__item-text 
              .work__item-title Запишитесь на консультацию
              .work__item-desc Оставляете заявку на сайте. Мы подбираем Вам специалиста, исходя из Ваших пожеланий. Все специалисты проверены нами лично — у каждого есть как минимум трехлетний опыт работы и положительная рекомендация от старшего коллеги.

          .work__item(data-aos='fade-up')
            .work__item-number 2
            .work__item-text
              .work__item-title Оплатите первую сессию
              .work__item-desc Для этого Вам нужно будет привязать свою карту к платежному сервису — деньги с нее будут списываться автоматически после консультации. И не волнуйтесь — Вы в любой момент можете ее отвязать.
 
    .work__wrap-bottom
      .work__item(data-aos='fade-up')
        .work__item-number 3
        .work__item-text
          .work__item-title Консультируйтесь с психологом
          .work__item-desc Консультация проходит в Скайпе. Вы общаетесь с нашими специалистами с любого удобного Вам устройства, главное — наличие хорошего интернета.

      .work__item(data-aos='fade-up')
        .work__item-number 4
        .work__item-text 
          .work__item-title Конфиденциальность
          .work__item-desc Мы настроили все таким образом, что никто не может получить доступ к Вашей сессии — все, о чем Вы говорите, остается между Вами и терапевтом.
