include inc/head.pug
include inc/header.pug

include blocks/main.pug
include blocks/statistic.pug
include blocks/therapy.pug
include blocks/about.pug
include blocks/work.pug
include blocks/team.pug
include blocks/about-us.pug
include blocks/price.pug
include blocks/bonus.pug


include inc/modal-politic.pug

include inc/footer.pug
include inc/foot.pug