include inc/head-success.pug
include inc/header.pug

include blocks/success.pug

include inc/modal-politic.pug
include inc/modal-offert.pug
include inc/modal-work.pug
include inc/modal-experts.pug
include inc/modal-recall.pug

include inc/footer.pug
include inc/foot.pug